torchserve
torch-model-archiver
torch-workflow-archiver
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
pyyaml
captum
opencv-python
protobuf==3.20.*
ultralytics
transformers[torch]